.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
  .pageNumber,
  .arrow {
    border: none;
    background-color: white;
    cursor: pointer;
  }
  .pageNumber,
  .arrow:disabled {
    cursor: default;
  }
  .pageNumber {
    padding: 8px;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
